<h1><%= @restaurant.name %></h1>

<!-- Sur la show, on a accès à l'instance de restaurant, donc impossible de faire une itération sur Restaurants, car on a accès qu'à l'instance de restaurant -->
<div class="card-details">
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
</div>

  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<br>
<br>
<%= render "cards-restaurants" %>